<div class="device-informations">
    <div>
        <span id="local-time"></span>
        <div>
            <img width="20" height="14.4" src="assets/signal.png">
            <img width="20" height="14.4" src="assets/wifi.png">
            <img width="20" height="14.4" src="assets/battery.png">
        </div>
    </div>
    <span>
        Minhas Informações
    </span>
    <img class="profile-image" width="64" height="64" src="assets/selfie-leonardo.jpeg">
    <div class="list-tile">
        <span>
            Nome
        </span>
        <span>
            Leonardo Sarto
        </span>
    </div>
    <div class="list-tile">
        <span>
            E-mail
        </span>
        <span>
            leonardosarto1@hotmail.com
        </span>
    </div>
    <div class="list-tile">
        <span>
            Contato
        </span>
        <span>
            +55 (44) 99955-8134
        </span>
    </div>
    <div class="list-tile">
        <span>
            LinkedIn
        </span>
        <span>
            linkedin.com/in/leosarto
        </span>
    </div>
    <div class="list-tile last-list-tile">
        <span>
            Github
        </span>
        <span>
            github.com/LeonardoSarto
        </span>
    </div>
    <span>Hard Skills</span>
    <div class="list-chip">
        <div class="chip chip-icon">
            <img width="25" height="25" src="assets/flutter-icon.png">
            Flutter
        </div>
        <div class="chip chip-icon">
            <img width="30" height="30" src="assets/java-icon.png">
            Java
        </div>
        <div class="chip chip-icon">
            <img width="25" height="25" src="assets/react-icon.png">
            React
        </div>
    </div>
    <span>Soft Skills</span>
    <div>
        <div class="chip">
            Entrega
        </div>
        <div class="chip">
            Disposição
        </div>
        <div class="chip">
            Diálogo
        </div>
    </div>
    <span>Idiomas</span>
    <div>
        <div class="chip chip-icon">
            <img width="25" height="25" src="assets/uk-flag-icon.png">
            Avançado
        </div>
        <div class="chip chip-icon">
            <img width="25" height="25" src="assets/brazil-flag-icon.png">
            Nativo
        </div>
    </div>
    <span class="home-indicator" id="home-indicator"></span>
</div>